extends layout
block content

	#content-main
		h1 Improve your 2nd language in your daily life
		
		p.

			Our mission is provide you environment to learn
			new language from daily life.

		p.

			Imagine that when you enter the restoom, some one
			said "Don't forget to brush teeth". 

		p.

			Imagine that you heard this sentence every day of your life
			You may remeber this sentence. 

		p.
			This is Smart Micro Language Learning.

		
		h2 Context-awareness

		p.

			The sentence from SMLL is memorable because it is selected based
			on the context that you are.

		h2 You may need this
		p.
			If you really need this, see how it works page.

		p
			a.pull-right(href="/how-it-works") Next : How it works >>
					

	#content-sidebar
		include side/about


	.clearfix
