extends layout
block content

	#content-main
		h4 "CLAN's mission is to provide environment for 2nd language learning"

		table
			tr
				td
					img.img-polaroid(src="/img/empty.jpg", style="width:320px; height:240px;")
				td(style="vertical: top;")
					h5 CLAN say "Hello" when you come in 
					p blar asdfasdlkfjalskdjfalksjfalkjdfklasjdfklajsdfkljaaklajfd aslkdfjalskdjfalkjdfaf
		
		
		
		h5 CLAN say "It's rain" when it's rain outside 
		
		
		h5 CLAN say differently everyday 

	#content-sidebar
		include side/about
