extends layout
block content

	#content-main
		h1 Getting Started 
		hr

		h2 Get device 
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	
		p
			a(href="yoolog.quora.com") yoolog
		hr

		h2 Create account
		p Create user account to register and manage your device.
		p
			a(href="/signup")  go sign up page


	#content-sidebar
		include side/about

	.clearfix


