extends layout
block content

	#content-main
		h1 How it works 
		hr

		h2 Trigger 
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	
		hr

		h2 System
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	
		hr


		h2 Internet 
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	
		hr
		
		h2 Package 
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	

	#content-sidebar
		include side/about
	.clearfix


