extends layout
block content

	h1 Smart Micro Language Learning 
	hr
	p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	
	p
		a.btn.btn-primary(href="/how-it-works") How it works

	hr


	h1 Home with SMLL 


	hr


	h1 Campus with SMLL 


	

		


		asdfasdf







