extends layout
block content

	h1 SMLL
	h5 Build your own 2nd language environment 
	p
		a.btn.btn-primary.btn-large(href="/how-it-works") How it works

	hr


	h1 Home with SMLL 


	hr


	h1 Campus with SMLL 


	

		


		asdfasdf







