extends layout
block content

	#content-main
		h1 Team 
		hr

		h4 Dongho Yoo 
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	
		p
			a(href="yoolog.quora.com") yoolog
		hr


		h4 Junghoon Sohn 
		p Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the ...	


	#content-sidebar
		include side/about

	.clearfix


