extends layout
block content

	#content-main
		h1 Vendor Page
		hr
		h2 Benefit 
		p To create vendor account please contact us immediatly.
		hr

		h2 Do you want to be vendor? 
		p To create vendor account please contact us immediatly.
		
		

	#content-sidebar
		include side/about

	.clearfix


