extends ../layout
block content

	#content-main
		h1	Sign Up
		hr

		form(action="/user", method="POST")
			fieldset

				input(type="text", name="email", placeholder="Your E-mail")
				br
				input(type="password", name="password", placeholder="New password")				
				br
				input(type="text", name="name", placeholder="Your Name")

				hr

				button.btn.btn-primary(type="submit") Submit

	#content-sidebar
		h1 Help
		p hello

		hr

		h1 Hello
		p hello world

	.clearfix
