p
	a(href="/about") About 
p
	a(href="/how-it-works") How it works 
p
	a(href="/getting-started") Getting Started 
p
	a(href="/team") Team
p
	a(href="/tech") Techonology 
p
	a(href="/press") Press 
p
	a(href="/vendor") Vendor 
p
	a(href="/faq") FAQ


